.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    background: #fff2f2;
    height: 100px;
}


.footer-tamanho{
height: 60px;
}

.contato{
    color: #2F7343;
}

.contato img{
    width: 30px;
}