.texto{
    padding: 10px;
    color: green;
}

/* np */
.tamanho-texto{
    width: 50%;
    margin: 40px 0;
    text-align: left;
    padding: 20px;
}

.container-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media(max-width: 768px){
    .container-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


.tamanho-texto hr{
    background-color: pink;
}

p{
    color: green;
}
strong{
    color: green;
}